.appList {
    width: 100%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 15px 20px;
    border-bottom: 0px black;
}

.table td:last-child {
    border-bottom: none;
}

.confirm-delete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    flex-direction: row-reverse;
}

.confirm-delete button {
    margin: 0 10px;
}
