.appList {
    width: 100%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 15px 20px;
    border-bottom: 0px black;
}

.table td:last-child {
    border-bottom: none;
}
