.App {
    font-family: sans-serif;
    text-align: center;
}

.main-div {
    margin: 50px;
}

.submit_btn {
    margin-top: 20px;
}

h5 {
    margin-bottom: 20px;
}

input {
    margin: 10px 0 10px;
}

@media screen and (min-width: 800px) {
    .App {
        background-color: gray;
    }
}

@media screen and (max-width: 800px) {
    .App {
        background-color: greenyellow;
    }
}
