.responsive-app-bar {
    display: block;
}

.button-app-bar {
    display: none;
}

.responsive-app {
    display: block;
}

@media (max-width: 699px) {
    .responsive-app {
        display: none;
    }
}
